.account-container {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
    transition: transform 0.3s ease-in-out;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.account-container:hover {
    transform: scale(1.02);
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    border-color: #1e3c72;
    outline: none;
}

button {
    margin-right: 20px;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #00c6ff;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  button:hover {
    background-color: #0072ff;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }


